@charset 'UTF-8';

* {
	margin: 0;
}
html,body,
#page {
	width: 100%;
	height: 100%;
}

body {
	background-color: #f9f9f9;
}

#page {
	position: absolute;
	top: 0;
}

.title-content {
	margin-top: 20px;
	color: #03A9F4;
	h1 { text-align: center;}
	font-size: 14px;
}