{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "indent": ["error", "tab"],
    "react/jsx-indent": ["error", "tab"],
    "react/prefer-stateless-function": 1
  },
  "plugins": [
      "react",
      "import"
  ],
  "settings": {
    "import/resolve": {
      "extensions": [".es6", ".js", ".jsx", ".css", ".scss", ".less"]
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
