# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

node_modules

test

demo

mochawesome-report

.issues.js

.boy-smart

.package copy.json

bin/hooks

bin/webpack/_common.config.js
bin/webpack/_tool.js
bin/webpack/prod.js